numpy==1.26.4 --only-binary=:all:
pyrogram==2.0.106
tgcrypto==1.2.5
redis
kvsqlite==0.2.1 --only-binary=:all:
python-dotenv
aiohttp
yt-dlp
shazamio==0.4.0
deep-translator
pillow
psutil
requests
pytz
hijri-converter
httpx
meval
gtts
pydub
youtube-search
pytube
mutagen
wget
pytio
py-cpuinfo
SpeechRecognition
Python-ARQ
distro
