numpy==1.26.4 --only-binary=:all:
pysocks==1.7.1
pyrogram==2.0.106
tgcrypto==1.2.5
redis
python-dotenv
aiohttp
yt-dlp
shazamio==0.4.0
deep-translator
pillow
psutil
requests
pytz
hijri-converter
httpx
meval
gtts
pydub
youtube-search
pytube
mutagen
pytio
py-cpuinfo
SpeechRecognition
Python-ARQ
distro
